*.pyc
.idea
.ipynb_checkpoints
*.bak
*.swp
dickingaround.ipynb
ngrams.ipynb
scrum-diary.md
*.pickle
sql_records/*
GoogleNews-vectors-negative300.bin
venv/*
lda2vec_model.py
NLP_scripts/run_textacy.py
mapmaking.ipynb
