{% extends "base.html" %}
{% block body %}

<p align="left">
Missed Connections is a section of Craigslist where people write about strangers they notice, generally in an attempt to reconnect. These posts vary from lewd & salacious banter, to romantic fairy-tales, and describe many different scenarios. This project explores common themes and writing styles across age and sexual orientation subgroups.
</p>
<br>

<ul align="left">
<li>outlet for expressing regrets and frustrations so people can move on with their lives</li>
<li>express how you really feel without judgment and nothing to lose (safety in anonymity)</li>
<li>ways to relive encounters</li>
<li>vulnerability, hopes & dreams</li>
</ul>

{% endblock %}
