{% extends "base.html" %}
{% block body %}

<style>
#mynav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
#mynav ul {
    list-style-type: none;
    padding: 0;
}
#mynav ul a {
    text-decoration: none;
}
#mybody { width: 100%; height:100%;}
#myFrame { width:100%; height:100%;}
#map-canvas {height: 500px;}
</style>

<title>Maps</title>

<body id="mybody">

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10"><h3>San Francisco</h3></div>
</div>

<div class="row">
<div class="col-md-2">
  <nav id="mynav">
    <br>
  <ul>
    <li><a href="#">Atlanta, GA</a></li>
    <li><a href="#">Austin, TX</a></li>
    <li><a href="#">Boston, MA</a></li>
    <li><a href="#">Chicago, IL</a></li>
    <li><a href="#">Dallas, TX</a></li>
    <li><a href="#">Denver, CO</a></li>
    <li><a href="#">Houston, TX</a></li>
    <li><a href="#">Las Vegas, NV</a></li>
    <li><a href="#">Miami, FL</a></li>
    <li><a href="#">Minneapolis, MN</a></li>
    <li><a href="#">New York, NY</a></li>
    <li><a href="#">Orange County, CA</a></li>
    <li><a href="#">Philadelphia, PA</a></li>
    <li><a href="#">Phoenix, AZ</a></li>
    <li><a href="#">Portland, OR</a></li>
    <li><a href="#">Raleigh, NC</a></li>
    <li><a href="#">Sacramento, CA</a></li>
    <li><a href="#">San Diego, CA</a></li>
    <li><a href="#">Seattle, WA</a></li>
    <li><a href="#">San Francisco, CA</a></li>
    <li><a href="#">Washington, DC</a></li>
  </ul>
</nav>
</div>

<div class="col-md-10" id="map-canvas">
  <iframe src="/static/images/sfc_pinned_map.html" id="myFrame"/>
</div>
</div>
</body>
{% endblock %}

<div class="options-table">
  <form>
    <div class="switch">
      <a href="#" id="choice-1">Seattle, WA</a>
      <label for="choice-1"></label>
    </div>
    <!-- <div class="switch">
      <span>Designer Package</span>
      <input id="choice-2" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" data-price="150">
      <label for="choice-2"></label>
      <div class="clearfix"></div>
    </div>
    <div class="switch">
      <span>Developer Package</span>
      <input id="choice-3" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" data-price="50">
      <label for="choice-3"></label>
      <div class="clearfix"></div>
    </div> -->
  </form>
</div>

<div class="map-display">
  <ul>
    <li class="city"><span>San Francisco</span></li>
    <iframe class="choice-1" src="/static/images/sfc_pinned_map.html" id="myFrame"/>
    <iframe class="choice-2" src="/static/images/sfc_pinned_map.html" id="myFrame"/>
    <li class="choice-2"><i>+</i>Drag and Drop Designer</li>
    <li class="choice-2"><i>+</i>5 Ready Made Templates</li>
    <li class="choice-3"><i>+</i>Advanced Statistics</li>
    <li class="choice-3"><i>+</i>Custom CSS Options</li>
    <li><i>+</i>Basic Statistics</li>
  </ul>
</div>

$(document).ready(function () {
  $("choice-1").click(function() {
    $("iframe").attr("src", "/static/images/sfc_pinned_map.html")


  });
});
