{% extends "base.html" %}
{% block body %}

<style>
#mynav {
    float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}
#mynav ul {
    list-style-type: none;
    padding: 0;
}
#mynav ul a {
    text-decoration: none;
}
#mybody { width: 100%; height:100%;}
#ifrm { width:100%; height:100%;}
#map-canvas {height: 500px;}
</style>

<script>
  function get_map(loc, name) {
    document.getElementById('ifrm').src = loc;
    document.getElementById('cityname').innerHTML = name;
  }
</script>

<title>Maps</title>

<body id="mybody">

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-10"><h3 name="cityname" id="cityname">San Francisco, CA</h3></div>
</div>

<div class="row">
<div class="col-md-2">
  <nav id="mynav">
    <br>
  <ul>
    <li><a onclick="get_map('/static/images/atlanta.html', 'Atlanta, GA')">Atlanta, GA</a></li>
    <li><a onclick="get_map('/static/images/austin.html', 'Austin, TX')">Austin, TX</a></li>
    <li><a onclick="get_map('/static/images/boston.html', 'Boston, MA')">Boston, MA</a></li>
    <li><a onclick="get_map('/static/images/chicago.html', 'Chicago, IL')">Chicago, IL</a></li>
    <li><a onclick="get_map('/static/images/dallas.html', 'Dallas, TX')">Dallas, TX</a></li>
    <li><a onclick="get_map('/static/images/denver.html', 'Denver, CO')">Denver, CO</a></li>
    <li><a onclick="get_map('/static/images/houston.html', 'Houston, TX')">Houston, TX</a></li>
    <li><a onclick="get_map('/static/images/lasvegas.html', 'Las Vegas, NV')">Las Vegas, NV</a></li>
    <li><a onclick="get_map('/static/images/losangeles.html', 'Los Angeles, CA')">Los Angeles, CA</a></li>
    <li><a onclick="get_map('/static/images/miami.html', 'Miami, FL')">Miami, FL</a></li>
    <li><a onclick="get_map('/static/images/minneapolis.html', 'Minneapolis, MN')">Minneapolis, MN</a></li>
    <li><a onclick="get_map('/static/images/newyork.html', 'New York, NY')">New York, NY</a></li>
    <li><a onclick="get_map('/static/images/orangecounty.html', 'Orange County, CA')">Orange County, CA</a></li>
    <li><a onclick="get_map('/static/images/philadelphia.html', 'Philadelphia, PA')">Philadelphia, PA</a></li>
    <li><a onclick="get_map('/static/images/phoenix.html', 'Phoenix, AZ')">Phoenix, AZ</a></li>
    <li><a onclick="get_map('/static/images/portland.html', 'Portland, OR')">Portland, OR</a></li>
    <li><a onclick="get_map('/static/images/raleigh.html', 'Raleigh, NC')">Raleigh, NC</a></li>
    <li><a onclick="get_map('/static/images/sacramento.html', 'Sacramento, CA')">Sacramento, CA</a></li>
    <li><a onclick="get_map('/static/images/sandiego.html', 'San Diego, CA')">San Diego, CA</a></li>
    <li><a onclick="get_map('/static/images/seattle.html', 'Seattle, WA')">Seattle, WA</a></li>
    <li><a onclick="get_map('/static/images/sfbay.html', 'San Francisco, CA')">San Francisco, CA</a></li>
    <li><a onclick="get_map('/static/images/washingtondc.html', 'Washington, DC')">Washington, DC</a></li>
  </ul>
</nav>
</div>

<div class="col-md-10" id="map-canvas">
  <iframe name="ifrm" src="/static/images/sfbay.html" id="ifrm"/>
</div>
</div>
</body>
{% endblock %}
